@import 'tailwindcss';
@plugin "tailwindcss-motion";
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../views/filament/forms/components/rich-editor/rich-content-custom-blocks/hero/index.blade.php';
@source '../**/*.js';


@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: "Bodoni Moda", ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-serif--font-variation-settings: "opsz" 8;

    /* everglade Color */
    --color-everglade: oklch(32.208% 0.04514 204.23);
    --color-everglade-50: oklch(53.937% 0.08092 203.94);
    --color-everglade-100: oklch(51.464% 0.07681 204.54);
    --color-everglade-200: oklch(47.007% 0.0695 204.45);
    --color-everglade-300: oklch(42.125% 0.06129 204.47);
    --color-everglade-400: oklch(37.396% 0.05404 204.23);
    --color-everglade-500: oklch(32.208% 0.04514 204.23);
    --color-everglade-600: oklch(28.957% 0.03985 203.09);
    --color-everglade-700: oklch(25.347% 0.03295 205.19);
    --color-everglade-800: oklch(21.887% 0.02705 203.69);
    --color-everglade-900: oklch(18.261% 0.0213 200.96);
    --color-everglade-950: oklch(16.237% 0.01738 202.54);

    --color-soft-linen-50: oklch(96.70% 0.008 91.48);
    --color-soft-linen-100: oklch(93.66% 0.018 92.69);
    --color-soft-linen-200: oklch(87.05% 0.035 90.53);
    --color-soft-linen-300: oklch(80.57% 0.053 91.40);
    --color-soft-linen-400: oklch(74.03% 0.071 91.79);
    --color-soft-linen-500: oklch(67.44% 0.087 91.76);
    --color-soft-linen-600: oklch(57.32% 0.073 91.53);
    --color-soft-linen-700: oklch(46.73% 0.058 91.15);
    --color-soft-linen-800: oklch(35.49% 0.041 90.37);
    --color-soft-linen-900: oklch(23.55% 0.024 92.99);
    --color-soft-linen-950: oklch(19.62% 0.018 91.80);

}



@layer components{

    .menu{
        @apply static py-4;
    }

    .menu.should-fixed{
        @apply fixed top-0 z-50 inset-x-0 bg-soft-linen-50/90 backdrop-blur-sm transition-all duration-300;
    }

    .logo-wrapper{
        @apply -top-4 left-0 z-10 absolute flex justify-center items-center bg-everglade px-8 rounded-full w-full aspect-square overflow-hidden transition-all duration-300 ease-in-out;
    }

    .menu.should-fixed .logo-wrapper{
        /* it should change to non circle */
        @apply static py-2 aspect-auto;
    }

    .decorative-title{
        @apply font-serif font-semibold text-everglade text-6xl italic;
    }

    /* Home Slider */

    .home-swiper .content-container-wrapper{
        @apply bg-cover bg-center aspect-[20/8];
    }

    .home-swiper .content-container{
        @apply grid grid-cols-12 mx-auto border-everglade border-b h-11/12 container;
    }

    .home-swiper .content-container .swiper-animate{
        @apply invisible;
    }
    .home-swiper .content-container .swiper-animate.visible{
        @apply visible;
    }

    .section-header-collection{
        @apply flex mx-auto text-everglade container;
    }

    .collection-wrapper{
        @apply flex flex-col justify-center gap-6 max-w-2/5 min-h-96;
    }

    .collection-wrapper span{
        @apply block text-everglade;
    }

    .collection-wrapper .tagline{
        @apply font-bold text-2xl;
    }

    .collection-wrapper .title{
        @apply font-serif font-semibold text-8xl italic;
    }

    .collection-wrapper .subtitle{
        @apply text-lg;
    }

    .animate-opacity-in{
        @apply motion-opacity-in-100 motion-blur-in-lg transition-all motion-duration-500;
    }

    .animate-opacity-out{
        @apply motion-opacity-out-0 motion-blur-out-lg transition-all motion-duration-500;
    }

    .animate-up-in{
        @apply motion-opacity-in-0 motion-blur-in-lg transition-all motion-translate-y-in-100 motion-duration-500;
    }

    .animate-up-out{
        @apply motion-opacity-out-0 motion-blur-out-lg transition-all motion-translate-y-out-100 motion-duration-500;
    }

    .animate-left-in{
        @apply motion-opacity-in-0 motion-blur-in-lg transition-all motion-translate-x-in-100 motion-duration-500;
    }
}

@utility container {
  /* Center by default */
  @apply mx-auto;
  /* Add horizontal padding */
  @apply px-4 sm:px-8 lg:px-16 2xl:px-32 xl:px-24;
}

.home-swiper .swiper-pagination-bullet{
    border-width: var(--swiper-border-width, 0px);
}

.home-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
    --swiper-pagination-color: var(--color-everglade-500);
    width: var(--swiper-pagination-bullet-active-width, 20px);
    height: var(--swiper-pagination-bullet-active-height, 20px);
}
